.contact-info {
    margin-bottom: 3rem;
}

.everest-forms .input-text,
.everest-forms input[type=text],
div#evf-136.evf-container.default input {
    border: none; 
    border-bottom: 1px solid #1A416A;
    padding: 5px; 
    border-radius: 0;
}

.everest-forms .evf-field-container .evf-frontend-row .evf-grid-1 {
    display: grid;
    grid-template-areas:
        "input1 input2"
        "input3 input4"
        "input5 input5"
        "input6 input6";
        grid-gap: 10px;
}

.everest-forms .evf-field-container .evf-frontend-row .evf-grid-1 #evf-136-field_ys0GeZISRs-1-container {
    grid-area: input1;
}

.everest-forms .evf-field-container .evf-frontend-row .evf-grid-1 #evf-136-field_LbH5NxasXM-2-container {
    grid-area: input2;
}

.everest-forms .evf-field-container .evf-frontend-row .evf-grid-1 #evf-136-field_IkokcrnCRi-6-container {
    grid-area: input3;
}

.everest-forms .evf-field-container .evf-frontend-row .evf-grid-1 #evf-136-field_AWqRqcsVMk-5-container {
    grid-area: input4;
}

.everest-forms .evf-field-container .evf-frontend-row .evf-grid-1 #evf-136-field_66FR384cge-3-container {
    grid-area: input5;
}

.everest-forms .evf-field-container .evf-frontend-row .evf-grid-1 #evf-136-field_yhGx3FOwr2-4-container {
    grid-area: input6;
}

button#evf-submit-136.everest-forms-submit-button.button.evf-submit {
    color: #1A416A;
    font-size: 16px;
    padding: 8px 50px;
    border-radius: 30px;
    border: 2px solid #1A416A;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 1rem;
}

button#evf-submit-136.everest-forms-submit-button.button.evf-submit:hover {
    color: #f6f6f6;
    border: 2px solid #1A416A;
    background-color: #1A416A;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.map iframe {
    width: 100%;
}

h2 {
    margin-top: 0;
}

.contact, .map {
    margin: 2rem;
}

@media screen and (min-width: 700px) {
    .contact-flex {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}